{% extends 'base.html' %}
{% block body %}

    <h2>Financial reports</h2>
    <nav class="nav navbar-expand">
      <ul class="navbar-nav mr-auto">

           <li class="nav-item {% if url_name == 'enter_expenditure' %}active{% endif %}">
              <a class="nav-link" href="#" ><button class="btn btn-primary">Driver Payments</button></a>
          </li>
             <li class="nav-item {% if url_name == 'expenditurereport' %}active{% endif %}">
              <a class="nav-link"href="{% url 'expenditurereport'  %}"><button class="btn btn-primary">Main Expenses</button></a>
          </li>
          <li class="nav-item {% if url_name == 'sundryreport' %}active{% endif %}">
              <a class="nav-link" href="{% url 'sundryreport'  %}"><button class="btn btn-primary">Petty Cash</button></a>
          </li>

            <li class="nav-item {% if url_name == 'salaryreport' %}active{% endif %}">
               <a class="nav-link" href="{% url 'salaryreport'  %}"><button class="btn btn-default">Staff Salaries</button></a>
          </li>

      </ul>
    </nav>
<div class="container">
    <div class="jumbotron bg-success">
        <h4>Salaries Paid Report</h4>
        <h5>(Allowances, Advances, Commission and Monthly salaries )</h5>
    </div>
    <p>Please submit the report at the end of the month to be archived</p>
    <table class="table table-hover" border="2">
    <thead class="font-weight-bold ">
    <tr class="success">
        <td>Date</td>
        <td>Name</td>
        <td>Salary Type</td>
        <td>Amount Paid</td>
    </tr>
    </thead>

        <tbody>

        {% for total in queryset %}
        <tr>
        <td>{{ total.Date }}</td>
        <td>{{ total.Staff }}</td>
        <td>{{ total.Salary_Type }}</td>
        <td>{{ total.Amount }}</td>
        </tr>
        {% endfor %}<br>
        <tr>
        <td class="jumbotron"><h3>TOTAL</h3></td>
        <td class="jumbotron"><h3>----------------------</h3></td>
        <td class="jumbotron"><h3>----------------------</h3></td>
        <td class="jumbotron"><h3>{{ total }}</h3></td>
        </tr>
    </tbody>
    </table>
    <a href="{% url 'salaryarchive' %}">
        <button class="btn btn-primary float-md-right">Submit Report</button>
    </a>
<a href="{% url 'salariespdf'  %}"><button class="btn btn-success">Print Report</button></a>
</div>


{% endblock %}